body {
  font-family: "Raleway", sans-serif;
  font-family: "Open Sans", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

/*************************header*******************/
header {
  background-color: #000000;
}
.header {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}


.nav {
  display: flex;
  text-align: center;
  justify-content: space-around;
  
}

.linc a {
  text-decoration: none;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  color: #ffffff;
  padding: 31px 30px;
}
.linc a:hover {
  background-color: #ec7979;
}
.linc a:active {
  background-color: #ab4949;
}
.menu{
  display: none;
 }
@media (max-width: 770px){
  .nav {
    display: none;
  }
  .menu{
    display: block;
    cursor: pointer;
   }
   .logo {
    padding-left: 0;
    
  }
}
/**************************Intro*******************/
.intro {
  width: 100%;
  height: auto;
  background: url(../img/intro/bg.png) center no-repeat;
  background-size: cover;
}
.intro__content {
  display: flex;
  padding-top: 200px;
  text-align: left;
  padding-bottom: 30px;
}
.intro__content_left {
  width: 60%;
  margin-right: 20px;
  margin-left: 20px;
}

.intro__content_left_title {
  padding-top: 75px;
  font-family: Raleway;
  font-size: 48px;
  font-weight: 500;
  line-height: 56px;
  letter-spacing: 0em;
  color: #ffffff;
  position: relative;
  max-width: 670px;
}
.intro__content_left_title::after {
  content: "";
  width: 30%;
  max-width: 170px;
  height: 1px;
  background-color: #ffffff;
  position: absolute;
  bottom: -55px;
  
}

.intro__content_left_sub-title {
  padding-top: 100px;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  color: #ffffff;
  max-width: 270px;
}

.intro__content_left_btn button {
  margin-top: 45px;
  width: 50%;
  max-width: 270px;
}

.btn_normal_1 button {
  background: none;
  border: 2px solid #ffffff;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  height: 58px;
}
.btn_normal_1 button:hover {
  color: #ec7979;
  border: 2px solid #ec7979;
}
.btn_normal_1 button:active {
  color: #ffffff;
  background-color: #ab4949;
  border: 2px solid #ab4949;
}
.intro__content_right {
  width: 50%;
  text-align: center;
  max-width: 470px;
}
.form {
  background-color: #ffffff;
  border-radius: 10px;
  margin-right: 10%;
}
.form h4 {
  width: 100%;
  height: 60px;
  padding-top: 45px;
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: center;
  text-transform: uppercase;
}
span {
  color: #ec7979;
}
.form input {
  width: 80%;
  height: 40px;
  border: none;
  border-bottom: 1px solid #bdbdbd;
  margin-top: 45px;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}
.form__btn {
  height: 60px;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
  background-color: #ec7979;
  font-family: Open Sans;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}
.form__btn:hover {
  background-color: #ab4949;
}
.form__btn:active {
  background-color: #ec7979;
  box-shadow: 0px 0px 10px 0px #AB4949 inset;
}
@media (max-width: 1100px) {
  .intro__content_left {
    margin-left: 5%;
  }
  
  .intro__content_left_title {
    font-size: 36px;
  }
  .intro__content_left_sub-title{
    font-size: 14px;
  }
  
}
@media (max-width: 770px) {
  .intro {
  height: auto;
  }
  .intro__content{
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 0px;
    text-align: center;
  }
  .intro__content_el{
   width: 80%;
   padding-bottom: 40px;
  }
  .intro__content_left_title {
    padding-top: 30px;
  }
  .intro__content_left_sub-title{
    margin: 0 auto;
  }
  .intro__content_left_img{
    display: none;
  }
  .intro__content_left_title::after{
    left: 35%;
    min-width: 110px;
  }
  .intro__content_left_btn button {
  width: 90%;
  min-width: 288px;
}
.form {
  margin-right: 0px;
}
.form h4 {
  width: 100%;
  height: 40px;
  padding-top: 45px;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: center;
  text-transform: uppercase;
}
}
/*******************social************************/
.social {
  background-color: #f8efef;
}
.social__content {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
  text-align: left;
}
.social__content_text {
  padding-top: 10px;
  
}
.social__content_text h4 {
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0em;
  color: #333333;
}
.social__content_text p {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  color: #86878b;
  max-width: 470px;
  padding: 20px 0;
}
.social__content_icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon {
  width: 12%;
  max-width: 70px;
  height: auto;
}
.icon img {
  width: 100%;
}
@media (max-width: 770px) {
  .social__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    width: 90%;
 }
 .social__content_el{
  width: 100%;
 }
}
/********************TAB***********************/
.tab {
  margin-top: 140px;

}
.tab__content{
  margin: 0 20px;
}
.tab__content_slider {
  border: 1px solid #c6cbcd;
  display: flex;
  position: relative;
}
.tab__content_btns {
  display: flex;
  position: absolute;
  top: -40px;
  left: -1px;
}
.tab__content_btns button {
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  width: 20%;
  max-width: 200px;
  min-width: 150px;
  height: 40px;
  background-color: #ffffff;
  border: 1px solid #c6cbcd;
  border: none;
  border-bottom: 1px solid #c6cbcd;
  cursor: pointer;
}

button#active1 {
  border: 1px solid #c6cbcd;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 1px solid #ffffff;
}

.tab__content_btns button:hover {
  border: 1px solid #c6cbcd;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 1px solid #ffffff;
}

.slider-left {
  width: 70%;
  padding-left: 100px;
  text-align: left;
}
.slider-title {
  font-family: Open Sans;
  font-size: 30px;
  font-weight: 700;
  line-height: 41px;
  letter-spacing: 0em;
  margin-top: 70px;
}
.slider-text {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  margin-top: 50px;
  max-width: 570px;
}
.slider-btn button {
  width: 50%;
  max-width: 270px;
  margin: 30px 0 50px;
}
.btn_normal_2 button {
  background-color: #ec7979;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  border: none;
  cursor: pointer;
  height: 60px;
}
.btn_normal_2 button:hover{
  background: #AB4949;
}
.btn_normal_2 button:active{
  background-color: #ec7979;
  box-shadow: 0px 0px 10px 0px #AB4949 inset;
}
.slider-right img {
  width: 100%;
  height: 100%;
}
@media (max-width: 770px){
  .slider-left {
    width: 90%;
    padding-left: 0;
    margin: 0 auto;
    text-align: center;
  }
  .slider-right{
    display: none;

  }
  .tab__content_btns button {
    width: 100%;
    max-width: 120px;
    min-width: 100px;
  }
  
}
/******************** section********************/

.section_header {
  margin: 0 auto;
  text-align: center;
  padding-top: 70px;
}
.section_name {
  font-size: 36px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Raleway;
  font-size: 36px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: center;
  text-transform: uppercase;
}

.section_text::before {
  content: "";
  background-color: #ec7979;
  display: block;
  width: 170px;
  height: 1px;
  margin: 0 auto 50px;
}
.section_text {
  font-size: 18px;
  color: #86878b;
  padding-bottom: 80px;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
}

/******************** awesome **********************/
.awesome {
  margin: 130px auto;
}

.awesome_content {
  display: flex;
  justify-content: center;
  text-align: center;
  justify-content: space-between;
  align-items: center;
}

.resons {
  width: 33%;
  max-width: 370px;
}
.awesome_icon {
  width: 110px;
  height: 110px;
  border: #ec7979 1px solid;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
}
.awesome_icon img {
  padding: 30px 0 40px;
  position: absolute;
  top: 55%;
  transform: translate(-48%, -50%);
}
.resons_title {
  font-size: 24px;
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: center;
  margin: 60px 0 30px;
}
.resond_text {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  padding: 15px;
}
@media (max-width: 770px){
  .awesome_content {
    flex-direction: column;
  }
  .resons {
    width: 90%;
    max-width: 370px;
    padding-top: 50px;
  }
}

/*******************options****************/
.opstions {
  background-color: #f5f5f5;
  padding-bottom: 50px;
}
.variants {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
.variant {
  width: 33%;
  max-width: 370px;
}
.variant1 {
  margin-top: -30px;
}
.variant p {
  border: 2px solid #f5f5f5;
  padding-top: 13px;
}

.variant_head {
  background-color: #333333;
}

.var_title {
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  height: 60px;
}
.var_price {
  font-family: Raleway;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  height: 100px;
}

.var_sub-title {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff80;
  height: 50px;
}
.var_size {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  color: #86878b;
  height: 50px;
  background-color: #ffffff;
}
@media (max-width: 770px){
  .variants {
    flex-direction: column;
    align-items: center;
  }
  .variant {
    width: 90%;
    max-width: 500px;
    padding-bottom: 30px;
  }
  .variant1 {
    margin-top: 0px;
  }
}
/**************customers**************/
.customers__content {
  display: flex;
  justify-content: space-between;
  padding-bottom: 70px;
}
.customer {
  width: 33%;
  max-width: 370px;
}
.customer__speach {
  background-color: #e2e2e2;
  border-radius: 10px;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  padding: 40px 15px;
  position: relative;
}
.customer__speach::after {
  content: "";
  background-color: #e2e2e2;
  width: 25px;
  height: 25px;
  position: absolute;
  bottom: -13px;
  left: 40px;
  transform: rotate(45deg);
}

.customer__personaliti {
  display: flex;
  margin-top: 40px;
  justify-content: space-around;
}
.customer__img {
  width: 20%;
  max-width: 70px;
}
.customer__data {
  width: 80%;
  padding-left: 20px;
}
.customer__name {
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
}
.customer__position {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 10px;
}
@media (max-width: 770px){
  .customers__content {
    align-items: center;
    justify-content: space-around;
  }
  .customer_not-active{
    display: none;
  }
  .customer_active{
    display: block;
  }
  .customer {
    width: 90%;
    max-width: 500px;
  }
  
}
/******************design*****************/
.design {
  background: url(../img/design/bg.png) no-repeat center;
  background-size: cover;
  padding-bottom: 50px;
}
.design .container {
  color: #ffffff;
}

.design .section_text::before {
  background-color: #ffffff;
}
.design_btn button {
  margin-top: 45px;
  width: 30%;
  max-width: 370px;
}
@media (max-width: 770px){
  .design_btn button {
    margin-top: 45px;
    width: 90%;
    max-width: 500px;
    
  }
  .design .section_header{
margin:0 10px;
  }
}
/********************contact*****************/

.contacts {
  display: flex;
  margin: 50px 0;
  padding: 0 20px;
}
.contacts__left {
  width: 50%;
}
.contacts__rihgt {
  width: 50%;
}
.contacts input {
  width: 80%;
  height: 60px;
  border: none;
  border-bottom: 1px solid #bdbdbd;
  margin-top: 45px;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}
.contacts__rihgt input {
  padding-bottom: 250px;
  padding-top: 20px;
}
.contacts__btn {
  margin: 0 auto;
  width: 40%;
  text-align: center;
}
.contacts__btn button {
  margin: 30px 0 50px;
  height: 60px;
  width: 100%;
  max-width: 370px;
}
@media (max-width: 770px){
  .contacts{
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .contacts__el{
    width: 90%;
  }
  .contacts input {
    width: 100%;
  }
  .contacts__btn {
    width: 90%;
  }
  .contacts__btn button {
    height: 50px;
    max-width: 500px;
  }
}
/*******************footer**********************/
footer {
  background-color: #000000;
}
.footer {
  padding: 40px 0;
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
}
.footer__social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footer__text {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  padding: 25px 0;
}

